<%# generate markup %>
<div class="board">

	<div class="corner"></div>

	<%= erb :numbers %>

	<div class="corner"></div>

	<%= erb :letters %>

	<%= erb :cells %>

	<%= erb :letters %>

	<div class="corner"></div>

	<%= erb :numbers %>

	<div class="corner"></div>

</div>
